#TemplateContent, .repeatFields:first-of-type .removeRow {
	display: none;
}
select#chooseTemplate {
    width: 100%;
}
a.addRow, a.removeRow {
    text-align: right;
    display: block;
    color: #090;
    text-decoration: underline;
    cursor:pointer;
}
 a.removeRow {
     color: #900;
 }
a.addRow:before, a.removeRow:before {
    content:"\f146";
    font-family: fontawesome;
    text-decoration: none;
    padding-right:6px;
}

a.addRow:before {
    content:"\f0fe";
}
.page .page h2 {
    margin-left: 30px;
}
#entryContent {
  width: 300px;
}
textarea {
    vertical-align: top;
    max-width:96%;
}

div.formRow {
    position: relative;
    margin: 50px 0px 0px 25px;
}

input[type=text] + label, textarea + label {
  position: absolute;
  top: 0;
  font-size: 30px;
  margin: 10px;
  padding: 0 10px;
  background-color: #FFF;
  -webkit-transition: top .2s ease-in-out, 
                      font-size .2s ease-in-out;
  transition: top .2s ease-in-out, 
              font-size .2s ease-in-out;
    color: #999;
    cursor: pointer;
}

input[type=text]:focus + label, textarea:focus + label, input[type=text].filled + label, textarea.filled + label {
  top: -25px;
  font-size: 20px;
}

input[type=text], textarea {
    width: 96%;
    padding: 6% 2%;
    border: 1px solid #999;
    font-size: 20px;
    background-color: #FFF;
    color: #555;
}

input[type=text]:focus, textarea:focus {
  outline: none;
}